* {
  margin: 0;
  padding: 0;
  box-sizing: 1;
  font-family: sans-serif;
}

.app-container {
  margin: 2rem auto;
  width: 960px;
}

.game-controls,
#app {
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
}

#definition-wrapper {
  text-align: center;
  font-size: 1rem;
}

#app-form {
  display: flex;
  width: fit-content;
  margin: 2rem auto;
}

.character-field,
.character-field:disabled {
  width: 40px;
  height: 40px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: .25em;
  margin: 1em .25em;
  text-align: center;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

button {
  border: 1px solid black;
  border-radius: .25em;
  padding: 1rem 2.5rem;
}