* {
  margin: 0,
  padding: 0,
  box-sizing: 1
}

p {
  font-size: 2rem;
  font-family: sans-serif;
  width: 4vw;
  height: 4vh;
  padding: 1rem;
  justify-content: space-between;
  text-align: center;
  background: black;
  color: white;
}

.hidden {
  content: "";
}

#app {
  display: flex;
}