@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 1;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#ffffff, #d2d2d2);
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}

br {
  display: block;
  content: "";
  margin: .75rem;
}

.app-container {
  margin: 2rem auto;
  padding: 0 2rem;
  width: 960px;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3em;
}

.lead {
  margin-bottom: 2rem;
}

.subheading {
  margin-bottom: 1rem;
  font-size: 2em;
}

#app {
  min-height: 300px;
}

#app-definition-wrapper {
  text-align: center;
  font-size: 1rem;
}

#app-form {
  width: fit-content;
  margin: 2rem auto;
}

#app-form-inputs-wrapper {
  display: flex;
}

.character-field,
.character-field:disabled {
  width: 42px;
  height: 42px;
  border: 2px solid #d2d2d2;
  background-color: white;
  border-radius: .5em;
  margin: 1rem .25rem;
  text-align: center;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.game-score-panel {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  padding: 1rem;
  width: 300px;
  border: 2px solid #d2d2d2;
  border-radius: .5em;
}

.logo-wrapper {
  margin: 4rem auto;
  width: fit-content;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.navbar {
  display: flex;
  margin: auto;
}

.main-navbar {
  width: 300px;
  flex-direction: column;
}

.game-navbar,
.section-navbar {
  flex-direction: row;
  justify-content: space-around;
}

.game-navbar {
  width: 400px;
}

.section-navbar {
  margin-top: 4rem;
}

.btn {
  font-family: "Passion one", cursive;
  cursor: pointer;
  border: transparent;
  color: white;
  border-radius: .5em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding: .75rem 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
}

.btn:hover {
  transform: scale(1.02);
}

.btn--primary {
  background: rgb(191, 14, 14);
}

.btn--secondary {
  background: rgb(239, 135, 9)
}

.btn--tertiary {
  background: rgb(64, 0, 116);
}

.icon {
  color: #ffffff;
  font-size: 0.8em;
  margin-right: .5em;
}

.dark-icon {
  color: #000000;
}